<?xml version="1.0" encoding="UTF-8"?>

<web-app id="struts_blank" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  	<display-name>Struts Blank</display-name>
	
	<filter>
        <filter-name>struts2-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
    </filter>

    <!-- Sitemesh decorators -->
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <!-- Spring Security -->
    <filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter> 

	<!-- My custom filter test -->
	<filter>
	   <filter-name>CustomFilter</filter-name>
	   <filter-class>org.lalosuarez.app.filter.MyCustomFilter</filter-class>
	   <init-param>
		  <param-name>test-param</param-name>
		  <param-value>Initialization Parameter</param-value>
	   </init-param>
	</filter>

    <filter>
        <filter-name>struts2-execute</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
    </filter>
	
	<!-- Struts2 prepare mapping -->
	<filter-mapping>
      <filter-name>struts2-prepare</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
     
    <!-- Sitemesh decorators mapping -->
    <filter-mapping>
      <filter-name>sitemesh</filter-name>
      <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- Spring Security mapping -->
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping> 

	<!-- Struts2 execute mapping -->
    <filter-mapping>
      <filter-name>struts2-execute</filter-name>
      <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
      <filter-name>struts2-execute</filter-name>
      <url-pattern>/login/*</url-pattern>
    </filter-mapping>    

	<!-- My custom filter test mapping 
	<filter-mapping>
	   <filter-name>CustomFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
    <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> 

    <!-- Servlet de prueba -->
    <servlet>
    	<description>Servlet Description</description>
    	<display-name>TestServlet</display-name>
    	<servlet-name>TestServlet</servlet-name>
    	<servlet-class>org.lalosuarez.app.action.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>TestServlet</servlet-name>
    	<url-pattern>/servlet/testServlet</url-pattern>
    </servlet-mapping>

	<!-- Jax-rs support -->
 	<servlet>
 		<servlet-name>jersey-serlvet</servlet-name>
		
		<servlet-class>
<!--         	com.sun.jersey.spi.container.servlet.ServletContainer -->
        	com.sun.jersey.spi.spring.container.servlet.SpringServlet
        </servlet-class>
		
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>org.lalosuarez.app.webservice</param-value>
		</init-param>
		
	    <init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>        	
 	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <!-- Servlet for jax-ws -->	    
	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
<!-- 		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/soap/soccer/leagues</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/soap/*</url-pattern>
	</servlet-mapping>	
	
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
			
	<welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
	  <welcome-file>default.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list> 
</web-app>
